:root {
  --bg-color: #005B7C1A;
  --primary-color: #42ABE4;
  --secondary-color: #005B7C;
}

body {
  padding: 0 calc((100vw - 16px - 1280px) / 2 - 9px);
}

body, button, input, textarea {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
}

header {
  display: flex;
  gap: 54px;
  justify-content: center;
  align-items: center;
  height: 96px;
}

.logo>img {
  width: 300px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

header address {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .contact a {
  display: flex;
  gap: 10px;
}

:link, :visited {
  text-decoration: none;
  color: unset;
}

header .contact a h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

header .contact a p {
  font-size: 10px;
  font-weight: 700;
  margin: 0;
}

.social {
  display: flex;
  gap: 20px;
}

main {
  background-image: url(images/bg-blur.svg);
}

.hero {
  background-image: url('images/hero-bg.jpg');
  background-size: cover;
  height: 720px;
  padding: 107px 0 48px 40px;
  box-sizing: border-box;
}

.hero h1 {
  font-size: 64px;
  color: #F4F4F4;
  margin: 0;
}

.hero h1 b {
  font-size: 96px;
  color: var(--primary-color);
}

.hero p {
  font-size: 32px;
  color: #F8F8F8;
  max-width: 600px;
}

.hero .buttons {
  display: flex;
  gap: 34px;
  margin-top: 137px;
}

.hero button {
  color: var(--secondary-color);
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
  border: 4px solid var(--secondary-color);
  background: none;
  width: 310px;
  padding: 12px;
}

.hero button:last-child {
  width: 208px;
}

.features {
  text-align: center;
  padding: 68px 0;
}

.features h3 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 83px;
}

.features ul {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.features h4 {
  font-size: 15px;
  margin: 17px 0;
}

.disc {
  width: 205px;
  height: 205px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disc img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  object-position: center;
}

.about {
  padding-bottom: 52px;
}

.about h2 {
  text-align: center;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 33px;
}

.about .content {
  display: flex;
  gap: 57px;
  width: 1119px;
  height: 990px;
  background-color: var(--bg-color);
  margin: 0 auto;
  padding: 40px 34px;
  border-radius: 41px;
  font-size: 20px;
  font-weight: 400;
}

.about .content b {
  font-weight: 700;
}

.about img {
  width: 500px;
  height: 280px;
  object-fit: cover;
  margin: 30px 0;
}

.about :first-child img:last-child {
  height: 350px;
  object-position: 0 -100px;
}

.services {
  text-align: center;
  padding: 32px 0;
}

.services h2 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 54px;
}

.services ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.services li {
  width: 241px;
  height: 305px;
}

.services img {
  width: 100%;
  height: 243px;
  object-fit: cover;
  box-shadow: -8px -8px 0 0 var(--bg-color);
  border-radius: 30px;
  margin-bottom: 21px;
}

.services h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.specialists {
  text-align: center;
  padding: 32px 0;
}

.specialists h2 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 54px;
}

.specialists ul {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.specialists li {
  width: 252px;
  height: 400px;
  background-color: var(--bg-color);
  border-radius: 47px;
  box-sizing: border-box;
  padding: 20px;
}

.specialists h4 {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
}

.specialists h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-top: 8px;
}

.specialists img {
  width: 100%;
  height: 255px;
  object-fit: contain;
  object-position: bottom;
}

.specialists :nth-child(1)>img {
  object-fit: cover;
}

.specialists :nth-child(2)>img {
  object-fit: cover;
  object-position: -132px;
}

.specialists button {
  background-color: #E1E1E1;
  border: 2px solid #F4F4F48F;
  width: 208px;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px 0;
  margin-top: 42px;
}

.gallery {
  text-align: center;
  padding: 40px 0;
}

.gallery h2 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 52px;
}

.gallery ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}

[hidden] {
  display: none !important;
}

.gallery img {
  border-radius: 20px;
  width: 543px;
  height: 284px;
  object-fit: cover;
  object-position: center;
}

.gallery :first-child:nth-child(2)>img {
  object-position: 0 -180px;
}

.gallery :first-child:nth-child(3)>img {
  object-position: 0 -220px;
}

.gallery .dots {
  margin-top: 52px;
  gap: 40px;
}

.gallery .dots li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer;
}

.gallery .dots li.active {
  background-color: var(--secondary-color);
}

.form .content {
  display: flex;
  justify-content: center;
  gap: 87px;
  padding: 52px 83px;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form h3 {
  font-size: 36px;
  margin: 0;
  text-align: center;
}

.form label {
  font-size: 20px;
  font-weight: 200;
  margin: 36px 0 12px;
}

.form form>input, .form .phone-wrapper {
  width: 588px;
  height: 44px;
  padding: 7px 18px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  box-sizing: border-box;
  background: none;
  font-size: 22px;
  font-weight: 400;
}

.form .prefix {
  font-size: 24px;
  font-weight: 200;
}

.phone-wrapper {
  display: flex;
  gap: 10px;
}

.phone-wrapper input {
  border: none;
  background: none;
  flex-grow: 1;
  outline: none;
  font-size: 22px;
  font-weight: 400;
}

.form {
  background-image: url("images/form-bg.png");
}

.form textarea {
  width: 588px;
  height: 162px;
  padding: 7px 18px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  box-sizing: border-box;
  background: none;
  resize: none;
  font-size: 22px;
  font-weight: 400;
}

.form button {
  width: 290px;
  height: 48px;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
  margin-top: 40px;
}

.form output {
  line-height: 0;
  font-size: 12px;
  font-weight: 200;
  translate: 529px -20px;
}

.form aside {
  padding-top: 93px;
}

.form aside, form h4 {
  font-size: 20px;
}

.form :not(h4) {
  font-weight: 400;
}

.form .social {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form .social a {
  display: flex;
  gap: 19px;
  align-items: center;
}

.form .hint {
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  color: var(--secondary-color);
  background-image: url("images/hint-bg.svg");
}

.map img {
  width: 100%;
  height: 765px;
  object-fit: cover;
}

.sticky-bar {
  position: fixed;
  right: -109px;
  top: 50%;
  width: 268px;
  height: 50px;
  rotate: -90deg;
}

.sticky-bar>button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-size: 24px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 20px 20px 0 0;
}

.sticky-bar>button img {
  rotate: 90deg;
  translate: 0 2px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  height: 185px;
}

footer :is(h4, h5, p) {
  margin: 0;
}
